body {
  margin: 0;
  font-family: 'Roboto-medium';
}
@font-face {
  font-family: 'Roboto';
  src: url(ecriture/Roboto-Medium.ttf);
}
@font-face {
  font-family: 'Roboto-medium';
  src: url(ecriture/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto-thin';
  src: url(ecriture/Roboto-Light.ttf);
  
}
@font-face {
  font-family: 'Roboto-gras';
  src: url(ecriture/Roboto-Black.ttf);
}
@font-face {
  font-family:'shrik';
  src: url(ecriture/Shrikhand-Regular.ttf);
}
a{
  text-decoration: none;
  color: initial;
}
.bloc-logo-oh{
  background-color: white;
  height: 90%;
  position: relative;
  box-shadow: 0px 0.3px 6px 0.3px rgba(110,110,110,0.8)
}

.logo-oh{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 85%;
  
}
#logos-food{
  width: 300px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.recherche{
  height: 60px;
  width: 100%;
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: space-around;
 

}

input{
  
  height: 50px;
  background-color: rgb(236, 236, 236);
  border: 1px solid rgb(236, 236, 236);    
 }
 #searchh{
   width: 110px;
   
 }
 ::placeholder{
   color: black;
   font-family: 'Roboto';
 }

 .position-recherche{
   width: auto;
   height: 50px;
   
 }
 .row-rech{
   width: 130px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 .position-recherche .fas{
   margin-top: 16px;
   color: black;
 }

nav{
  width: 100%;
  height: 320px;
  background-color: rgb(245, 245, 245);
}
.parti-reservez{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.reservez{
  font-size: 25px;
  margin: auto;
  font-family: 'Roboto';
  width: 90%;
  text-align: center;
  margin-top: 50px;

}
.decouvrez{
  font-size: 20px;
  font-family: 'Roboto-thin';
  margin: auto;
  width: 90%;
  text-align: center;
  margin-top: 50px ;

}
.position-button{
  margin: auto;
  margin-top: 50px;
   
}

.position-button:hover {
  
  opacity: 0.9;
   

}

.explorer-button{
  width: 220px;
  height: 50px;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  border-radius: 30px;
  
}


.fonctionnement-bloc{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.colum-blocs-ensemle{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  transform: scale(1);
}
.anime-bloc{width: auto;height: auto;}

.anime-bloc:hover
{
  transform: scale(1);
  border-radius: 60px;
  transition-duration: 0.2s;
  box-shadow: 0px 0px 8px 2px rgb(0, 0, 0) 
}
.anime-bloc:hover .center{
  color: #9356dc;
}
.anime-bloc:hover .fas{
  color: #9356dc;  
}

.fonctionnement{
  width: 8%;
  height: 30px;
  font-family: 'Roboto';
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.colum-blocs-fonction{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  
}
.numb{
  position: absolute;
  margin-left: -12px;
  margin-top: 15px;
  color: white;
  background-color: #9356dc;
  border-radius: 60px;
  width: 25px;
  height: 25px;
  padding: 5px 2px 0px 2px;
  display: flex;
  justify-content: space-around;
}

.bloc-choisissez-un-restaurant{
  width: 100%;
  height: 60px;
  background-color: rgb(253, 253, 253);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 1px 3px 1px rgba(110,110,110,0.8)
}
.bloc-choisissez-un-restaurant:hover{
  background-color: #f6f2fb;  
}
.bloc-choisissez-un-restaurant .fas{
  color: gray;
}

.bloc-composez-votre-menu{
  width: 100%;
  height: 60px;
  background-color: rgb(253, 253, 253);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 1px 3px 1px rgba(110,110,110,0.8)
}
.bloc-composez-votre-menu:hover{
  background-color: #f6f2fb;  
}
.bloc-composez-votre-menu .fas{
  color: gray;
}


.bloc-degustez-au-restaurant{
  width: 100%;
  height: 60px;
  background-color: rgb(253, 253, 253);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 1px 3px 1px rgba(110,110,110,0.8)
}
.bloc-degustez-au-restaurant:hover{
  background-color: #f6f2fb;
}
.bloc-degustez-au-restaurant .fas{
  color: gray;  
}

.center{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
  margin-left: 8%;
}


.marging{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 380px;
  
}
main{
height: 700px;
}

.restaurant{
  width: 100%;
  margin: auto;
  margin-top: 50px;
}
.icon-restaurant{
  font-size: 30px;
  font-family: 'Roboto';
  height: 30px;
  margin: auto;
}
.blocs-restaurant{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 640px;
}
.t-1{
  font-size: 22px;
  font-family: 'Roboto';
}

.t-2{
  font-size: 18px;
  font-family: 'Roboto-thin';
  
}

.text-resto{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  height: 70px;
  
  
}

.new-restaurant{
  width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
  margin: auto;
}

.la-palette{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 1px 10px 1px rgba(110,110,110,0.8)
  }
  .la-palette :hover{transform: none;}
  
  .la-note{
    display: flex;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 1px rgba(110,110,110,0.8)
  }
  .la-note :hover{ transform: none;}

#palette{
  width: 285px;
  height: 190px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover; 
}
#note{
  width: 285px;
  height: 190px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;    
}
#france{
  width: 285px;
  height: 190px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;     
}
#délice{
  width: 285px;
  height: 190px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;         
}

.old-restaurant{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 650px;
  margin: auto;  
}

.la-francaise{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 1px 10px 1px rgba(110,110,110,0.8)
}
  .la-francaise :hover{transform: none;}

.le-delice{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 1px 10px 1px rgba(110,110,110,0.8)
}
.le-delice :hover{transform: none;}

.footer-bloc{
  display: flex;
  flex-direction: column;
  height: 150px;
  background-color: rgb(47, 47, 47);
  
}
.foot-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  height: 100px;
}
.logo-white{
  color: white;
  font-size: 20px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 80px;
  font-family: 'shrik' ;
}
.proposer-un-resto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 186px;
}
.devenir-partenaire{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 156px;    
}
.fa-solid{
  
  position: absolute;
  margin-top: -30px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image:linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  font-size: 30px;
  opacity: 0;  
}
.fa-solid:hover{
  opacity: 1;
  transition-duration: 0.5s;
  
}

.fa-regular{
  
  color: black;
  font-size: 30px; 

}
.change-coeur{
  height: 30px;
  width: 30px;
  margin-top: 20px;
}

.bloc-coeur-texte{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.new{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 285px;
  
 
}
.nouveau{
  
  width: 50%;
  height: 35px;
  display: flex;
  
}
.nouveau-droite{
  display: flex;
  width: 50%;
}
.t-new{ 
  
  color: rgb(26, 26, 26);
  width: 50%;
  height: 20px;
  text-align: center;
  background-color: rgb(108, 217, 180);
  margin: auto;
  padding: 5px;
  margin-top: 10px;
  

}
@keyframes rotate {
  0% {
      
transform: rotate(0deg);
  }

  50% {
  transform: rotate(-110deg);
  }
  80%{
  transform: rotate(-60deg);  
  }
  
  90% {
  transform: rotate(-80deg);
  }
  100%{
  transform: rotate(-90deg); 
}
  
}
.loader{

  height: 100%;
  width: 100%;
  background: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  visibility: hidden;
  animation: spinner 0s;
  
}
@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
 
.position-cercle{
 width: 220px;
 height: 220px;
 max-height: 100%;
 max-width: 100%;
 margin: auto;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 
}
 
.cercle{
 height: 100%;
 width: 100%;
 border: 10px solid white;
 border-radius: 180px;
 border-top-color: #99E2D0;
 border-bottom-color: #99E2D0;;
 border-left-color:#9356dc;
 border-right-color:#ff79da ;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 animation: rotates 2s;
 animation-fill-mode:forwards; 
 
}
.mini-cercle{
  margin: auto;
  height: 150px;
  width: 150px;
  border: 10px solid white;
  border-radius: 150px;
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;;
  border-left-color:#9356dc;
  border-right-color:#ff79da ;
  animation: rotates-1 2s;
  animation-fill-mode:forwards;
  position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;     
}
.mini-mini-cercle{
  margin: auto;
  height: 50px;
  width: 50px;
  border: 10px solid white;
  border-radius: 50px;
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;;
  border-left-color:#9356dc;
  border-right-color:#ff79da ;
  animation: rotates-2 2s;
  animation-fill-mode:forwards;
  position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}
 
@keyframes rotates{
 0% {
    
  transform: rotate(0deg);
 
}

 
100%{
  transform: rotate(720deg);
  
 
}

}

@keyframes rotates-1{
  0% {
     
   transform: rotate(0deg);
  
 }
 
  
 100%{
   transform: rotate(1440deg);
   
  
 }
 
 }
 @keyframes rotates-2{
  0% {
     
   transform: rotate(0deg);
  
 }
 
  
 100%{
   transform: rotate(2880deg);
   
  
 }
 
 }

@media screen and (max-width: 1230px)
{



.fonctionnement{
  margin: auto;
}
.colum-blocs-ensemle{
  width: 400px;
  height: 300px;
}
.anime-bloc{
  margin: auto;
  width: auto;
}
.colum-blocs-fonction{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 250px;
  
}
.bloc-choisissez-un-restaurant{width: auto;}
.bloc-composez-votre-menu{width: auto;}
.bloc-degustez-au-restaurant{width: auto;}
}
@media screen and (max-width: 661px)
{
.bloc-logo-oh{
  height: 70px;
}
#logos-food{
  margin-top: 25px;
}
.position-button{
  margin-top: 30px;
}
main{
  height: auto;
}
.restaurant{
  margin: auto;
  height: 100%;
  margin-top: 70px;
  background-color:rgb(245, 245, 245);
}
.blocs-restaurant{
  height: 100%;
  width: 96%;
  margin: auto;
  margin-top: 20px;
  
}
.icon-restaurant{
  margin-left: 10px;
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.colum-blocs-ensemle{
  height: 320px;
  margin-top: 40px;
  width: 100%;
}
.fonctionnement-bloc{
  height: 100%;
  margin-top: 0px;
}
.fonctionnement{
  margin-left: 18px;
  font-size: 26px;
  width: 190px;
}
.new-restaurant{
  flex-direction: column;
  justify-content: space-around;
  height: 569px;
  width: 100%;
  margin: auto;
}
.la-palette{
  width: 9cm;
  height: 7cm;
  margin: auto;
}
#palette{
  width: 100%;
}
.la-note{
  width: 9cm;
  height: 7cm;
  margin: auto;  
}
#note{
  width: 100%;
}
.old-restaurant{
  flex-direction: column;
  justify-content: space-around;
  height: 569px;
  width: 100%;
  margin-bottom: 50px;
}

.la-francaise{
  width: 9cm;
  height: 7cm;
  margin: auto;
}
#france{
  width: 100%;
}
.le-delice{
  width: 9cm;
  height: 7cm;
  margin: auto;    
}
#délice{
  width: 100%;
}

#logos-food{
  width: 50%;
  height: 50%;
}




  .footer-bloc{
    height: 250px;
  }
.foot-row{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  height: 150px;
}
.logo-white{
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 30px;
  height: 40px;
}


  .decouvrez{
    margin-top: 15px;
  }
  .recherche{
    height: 50px;
  }
.la-palette{
  width: 95%;
  height: 7cm;
  margin: auto;
  background-color: white
}
#palette{
  width: 100%;

}
.la-note{
  width: 95%;
  height: 7cm;
  margin: auto;
  background-color: white  
}
#note{
  width: 100%;
}
.la-francaise{
  width: 95%;
  height: 7cm;
  margin: auto;
  background-color: white
}
#france{
  width: 100%;
}
.le-delice{
  width: 95%;
  height: 7cm;
  margin: auto;
  background-color: white    
}
#délice{
  width: 100%;
}

.anime-bloc{
  width: 92%;
  margin-left: 5%;
}
.marging{
  width: 100%;
}
.new{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 91%;
  
 
}
.nouveau{
  
  width: 80%;
  height: 35px;
  display: flex;
  
}
.nouveau-droite{
  display: flex;
  width: 50%;
}
.t-new{ 
  
  color: rgb(26, 26, 26);
  width: 78px;
  height: 20px;
  text-align: center;
  background-color: rgb(108, 217, 180);
  margin: auto;
  margin-top: 17px;
  padding: 5px;
  

}

}
